<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../../VueJs/vue.js"></script>
    <!--设置ico-->
    <link rel="shortcut icon" href="static/favicon.ico"/>
</head>
<body>

<div id="root">
    姓:<input type="text" v-model="firstName"><br>
    名:<input type="text" v-model="lastName"><br>
    姓名:{{fullname()}}
</div>

<script type="text/javascript">
    new Vue({
        el: "#root",
        data: function () {
            return {
                firstName: "张",
                lastName: "三"
            }
        },
        methods:{
            fullname(){
                return this._data.firstName.slice(0,3)+ this._data.lastName
            }
        }
    })
</script>

</body>
</html>